.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  /*   background: ${({ theme }) => theme.primaryLight}; */
  height: 100vh;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  /*   @media (max-width: ${({ theme }) => theme.mobile}) {
    width: 100%;
  } */

  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: darkblue;
    /*   color: ${({ theme }) => theme.primaryDark}; */
    text-decoration: none;
    transition: color 0.3s linear;
  }
  /*     @media (max-width: ${({ theme }) => theme.mobile}) {
      font-size: 1.5rem;
      text-align: center;
    } */

  &:hover {
    color: aqua;
    /*   color: ${({ theme }) => theme.primaryHover}; */
  }
}
